* {
    margin : 0 ;
    padding : 0 ;
    box-sizing : border-box ;
}

:root {
    --secondary-font : 'Source Sans Pro', sans-serif ;
    --fixed-width : 1150px ;
    --primary-color : #FFFFFF ;
    --secondary-color : #1C1C1C ;
    --third-color : #1DC9E3 ;
    --fourth-color : #535BD4 ;
    --fifth-color : #26C1D7 ;
}

body {
    font-family : 'Unica One', cursive ;
}

/* ------------ header starts ------------ */
.header {
    width : 100% ;
    height : 90vh ;
    background-image : url("../images/home-bg.jpg") ;
    background-size : cover ;
    background-position : center -122px;
    background-repeat : no-repeat ;
}

/* header */
/* ------- nav-section starts ------ */
.header .nav-section {
    width : 100% ;
    padding : 25px 0 ;
    background-color : var(--primary-color) ;

    position : fixed ;
    top : 0 ;
    left : 0 ;
    z-index : 2 ;
}

.nav-section .navigation {
    max-width : var(--fixed-width) ;
    height : 100% ;
    margin : 0 auto ;

    display : flex ;
    justify-content : space-between ;
    align-items : center ;
}

.navigation .logo-box {
    width : 200px ; 
}

.logo-box .logo {
    text-decoration : none ;
    font-size : 1.1rem ;
    letter-spacing : 2px ;
    color : var(--fourth-color) ;
} 

.logo h1 span {
    color : var(--third-color) ;
}

.navigation .hamburger-box {
    width : 80px ;
    height : 60px ;
    display : none ;
}

.hamburger-box .hamburger {
    width : 32px ;
    height : 25px ;
}

.hamburger .line{
    width : 30px ;
    height : 4px ;
    margin-bottom : 2px ;
    background-color : #888888 ;
    border-radius : 50px ;
}

.hamburger .line:not(:last-child) {
    margin-bottom : 4px ;
}

.navigation .menu-items {
    width : 56% ;
    height : 100% ;

    display : flex ;
    justify-content : space-between ;
    align-items : center ;
}

.menu-items .items {
    list-style : none ;
}

.items a {
    text-decoration : none ;
    font-size : 1.2rem ;
    text-transform : capitalize ;
    color : #656565 ;
    letter-spacing : 1px ;
}
/* ------- nav-section ends ------ */

/* header */
/* ------- hero-section starts ------- */
.header .hero-section {
    width : 100% ;
    padding-top : 4.6em ;
    padding-bottom : 74px ;
    
    position : relative ;
    display : flex ;
    justify-content : center ;
}

.header .hero-section::before{
    content : ' ';
    position : absolute ;
    top : 0 ;
    right : 0;
    bottom : 0 ;
    left : 0 ;
    width : 100% ;
    height : 100% ;
    background : linear-gradient(to left , #4776E6 , #8E54E9 ) ;
    opacity : .9 ;
}

.hero-section .hero-details {
    max-width : 1170px ;
    padding-top : 70px ;
    position : relative ;
    z-index : 1 ;

    display : flex ;
    justify-content : space-between ;
}

.hero-details .hero-section__img{
    width : 48% ;
}

.hero-section__img img {
    width : 100% ;
}

.hero-details .app-starter-details {
    width : 47% ;
    padding-top : 40px ;
}

.app-starter-details .hero-section__heading {
    font-size : 3.4rem ;
    color : var(--primary-color) ;
    font-weight : lighter ;
    letter-spacing : 2px ;
}

.app-starter-details .hero-section__para {
    color : #D6D6ED ;
    font-size : 1.3rem ;
    font-family : var(--secondary-font) ;
    margin-top : 8px ;
    line-height : 32px ;
    letter-spacing : 1px ;
} 

:is(.header , .know-more-box , .price-type-cards ) button ,
.sending-email-box input[type="submit"]{
    margin-top : 30px ;
    padding : .80em 1.90em ;
    background-color : var(--third-color) ;
    border : 2px solid var(--third-color) ;
    border-radius : 50px ;
    cursor : pointer ;
    outline : none ;

    color : var(--primary-color) ;
    font-family : 'Unica One', cursive ;
    font-size : 1.2rem ;
    font-weight : bold ;
    letter-spacing : 1px ;
    text-transform : capitalize ;

    transition : 
        background-color 460ms ease ,
        border 460ms ease ;
}

:is(.header , .know-more-box , .price-type-cards) button:hover ,
.sending-email-box input[type="submit"]:hover {
    background-color : transparent ;
    border-color : black ;

    border-top : 2px solid var(--primary-color) ;
    border-bottom : 2px solid var(--primary-color) ;
}
/* ------------ header ends ------------ */

/* ------------ welcome-box starts ------------ */
.welcome-box {
    width : 100% ;
    padding-bottom : 1px ;
    background-color : var(--secondary-color) ;
}

.welcome-box .welcome-inner-box {
    max-width : var(--fixed-width) ;
    padding-top : 7em ;
    padding-bottom : 100px ;
    margin : 0 auto ;
}

.welcome-inner-box .welcome-box__heading ,
.pricing-inner-box .pricing-box__heading {
    text-align : center ;
    color : var(--primary-color) ;
    font-size : 3.4rem ;
    font-weight : lighter ;
    padding-bottom : 28px ;

    position : relative ;
}

.welcome-box__heading::after , 
.pricing-inner-box .pricing-box__heading::after{
    content : " " ;
    position : absolute ;
    left : 46% ;
    bottom : 0 ;
    width : 100px ;
    border-bottom : 1px solid var(--primary-color) ; 
}

.welcome-inner-box .team-details-box {
    width : 100% ;
    margin-top : 5em ;

    display : flex ;
    justify-content : space-between ;
}

.team-details-box .team-details {
    width : 80% ;
    margin-top : 1em ;
    padding-right : 2% ;
}

.team-details-box h1 {
    color : var(--primary-color) ;
    font-size : 2rem ;
    font-weight : lighter ;
    letter-spacing : 1px ;
}

.team-details-box .para{
    margin-top : 20px ;
    font-weight : lighter ; 
    line-height : 34px ;
}

.team-details-box .para-1 {
    color : #4B52B6 ;
    letter-spacing : 1px ;
    font-size : 1.4rem ;
}

.team-details-box .para-2 {
    font-size : 1.3rem ;
    font-family : var(--secondary-font) ;
    color : #949494 ;
}

.team-details-box .para-2 a {
    text-decoration : none ;
}

.team-details-box .para-2 span {
    color : #535bd4 ;
    transition : color 450ms ease ;
}

.team-details-box .para-2 span:hover {
    color : aqua ;
}

.team-details-box .team-box{
    width : 76% ;

    display : flex ;
    justify-content : space-between ;
}

.team-box .team {
    width : 47% ;
    overflow : hidden ;
    position : relative ;
}

.team img {
    width : 100% ;
}

.team .about-overlay {
    position : absolute ;
    height : 48% ;
    bottom : -25px ;
    width : 100% ;
    padding-top : 22px ;
    background-color : rgba(255 , 255 , 255 , 0.9) ;
    text-align : center ;

    transition : height  450ms ease ;
}

.team:hover .about-overlay {
    bottom : 0 ;
    height : 100% ;

    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
}

.about-overlay h1 {
    color : var(--fourth-color) ;
    font-size : 1.4rem ;
}

.team:hover .about-overlay h1 {
    padding-top : 40px ;
}

.about-overlay h2 {
    color : #545454 ;
    font-size : 1.1rem ;
    font-weight : bold ;
    letter-spacing : 1px ;
    margin-top : 14px ;
}

.team:hover .about-overlay h2 {
    color : var(--fifth-color) ;
}

.about-overlay .social-links {
    width : 65% ;
    margin : 0 auto ;
    margin-top : 30px ;
    
    display : flex ;
    justify-content : space-between ;
}

.about-overlay .social-links li {
    list-style : none ;
    border-radius : 50px ;
    cursor : pointer ;
    transition : transform 450ms ease ;
}

.about-overlay .social-links li a{
    color : var(--secondary-color) ;
}

.about-overlay .social-links .social-link-1{
    padding : 15px 20px ;
}

.about-overlay .social-links .social-link-2 ,
.about-overlay .social-links .social-link-3 ,
.about-overlay .social-links .social-link-4 {
    padding : 16px 18px ;
}

.about-overlay .social-links .social-link-5 ,
.about-overlay .social-links .social-link-6 {
    padding : 16px 16px ;
}

.about-overlay .social-links li:hover a{
    color : var(--primary-color) ;
}

.about-overlay .social-links li:hover {
    background-color : var(--fifth-color) ;
    transform : translateY(-12px) ;
}
/* ------------ welcome-box ends ------------ */

/* -------------- know-more-box starts ------------ */
.know-more-box {
    width : 100% ;
    padding-bottom : 80px ;
    background-color : var(--third-color) ;
}

.know-more-inner-box {
    max-width : var(--fixed-width) ;
    padding-top : 8em ;
    padding-bottom : 20px ; 
    margin : 0 auto ;

    text-align : center ;
}

.know-more-inner-box .know-more__para-box {
    width : 60% ;
    margin : 0 auto ;
    font-size : 2rem ;
    color : var(--primary-color) ;
}

.know-more-inner-box .learn-more-btn {
    background-color : #000101 ;
}

.know-more-inner-box .learn-more-btn:hover {
    background-color : transparent ;
}
/* -------------- know-more-box ends ------------ */

/* -------------- show-case-box starts ------------ */
.show-case-box {
    width : 100% ;
    padding-bottom : 70px ;
    background-color : var(--secondary-color) ;
}

.show-case-inner-box {
    max-width : var(--fixed-width) ;
    padding-top : 8em ;
    padding-bottom : 20px ;
    margin : 0 auto ;
}

.show-case-inner-box h1 {
    text-align : center ;   
    color : var(--primary-color) ;
    font-size : 3.4rem ;
    font-weight : lighter ;
    letter-spacing : 1px ;
}

.show-case-inner-box .para-box {
    width : 68% ;
    margin : 0 auto ;
    margin-top : 14px ;

    font-family : var(--secondary-font) ;
    text-align : center ;
    font-size : 1.2rem ;
    color : rgb(128, 128, 128) ;
    line-height : 30px ;
}

/* show-case-box */
/* ---- slider starts ---- */
.show-case-inner-box .slider-box {
    width : 100% ;
    margin-top : 6em ;
    padding-bottom : 20px ;
}

.slider-box .slider-inner-box {
    width : 100% ;
}

.slider-inner-box img {
    width : 100% ;
    transition : transform 450ms ease ;
}

.slider-inner-box img:hover {
    box-shadow: 7px 5px 19px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 5px 19px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 5px 19px -2px rgba(0,0,0,0.75);
    transform : translateY(-20px) ;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color : transparent ;
}

.owl-theme .owl-dots .owl-dot {
    outline : none ;
}

.owl-theme .owl-dots .owl-dot span {
    margin-top : 50px ;
    border : 2px solid var(--primary-color) ;
    color : none ;
    border-radius : 50px ;
    padding : 4px ;
}
/* ---- slider ends ---- */
/* -------------- show-case-box ends ------------ */

/* -------------- pricing-box starts --------------*/
.pricing-box {
    width : 100% ;
    padding-bottom : 100px ;
    background-color : var(--fourth-color) ;
}

.pricing-inner-box {
    max-width : var(--fixed-width) ;
    padding-top : 6em ;
    padding-bottom : 30px ;
    margin : 0 auto ;
}

.pricing-inner-box .price-cards {
    width : 95% ;
    padding-bottom : 2px ;
    margin : 0 auto ;
    margin-top : 5em ;

    display : flex ;
    justify-content : space-around ;
}

.price-cards .price-type-cards {
    width : 31% ;
    background-color : #FEFEFF ;
    padding-top : 30px ;
    padding-bottom : 2px ;
    text-align : center ;
    border-radius : 2px ;
}

:is(.price-type-cards) h1 , h2 {
    font-weight : lighter ;
}

.price-type-cards h1 {
    color : var(--third-color) ;
    font-size : 3.4rem ;
}

.price-type-cards h2 {
    color : #535BD4 ;
    margin-top : 36px ;
}

.price-type-cards .benifits {
    width : 100% ;
    margin-top : 20px ;
}

.benifits li {
    list-style : none ;
    margin-bottom : 18px ;
    color : rgb(136, 135, 135) ;
    font-family : var(--secondary-font) ;
    font-size : 1.3rem ;
    font-weight : lighter ;
}

.price-type-cards .register-btn {
    margin-top : 0 ;
    position : relative ;
    bottom : -40px ;
}

.price-type-cards .register-btn:hover {
    color : var(--secondary-color) ;
    background-color : var(--primary-color) ;
}
/* -------------- pricing-box ends --------------*/

/* -------------- newsletter-box starts -------------- */
.newsletter-box {
    width : 100% ;
    padding-bottom : 100px ;
    background-image : url("../images/newsletter-bg.jpg") ;
    background-size : cover ;
    background-repeat : no-repeat ;
    background-position : center -240px ;

    position : relative ;
}

.newsletter-box::after {
    content : " " ;
    position : absolute ;
    top : 0 ;
    right : 0 ;
    bottom : 0 ;
    left : 0 ;
    width : 100% ;
    height : 100% ;
    background-color : var(--third-color) ;
    opacity : 0.9 ;
}

.newsletter-inner-box {
    max-width : var(--fixed-width) ;
    padding-top : 8em ;
    padding-bottom : 20px ;
    margin : 0 auto ;

    position : relative ;
    z-index : 1 ;
    text-align : center ;
}

.newsletter-inner-box h1 {
    color : var(--primary-color) ;
    font-size : 2rem ;
    font-weight : lighter ;
    letter-spacing : 2px ;
}

.newsletter-inner-box .para-box {
    width : 66% ;
    margin : 0 auto ;
    margin-top : 14px ;
    color : #f0f0f0 ;
    font-family : var(--secondary-font) ;
    font-size : 1.3rem ;
    font-weight : 300 ;
    word-spacing : 2px ;
    line-height : 30px ;
    letter-spacing : 1px ;
}

.newsletter-inner-box .sending-email-box {
    width : 100% ;
    margin-top : 50px ;
}

.sending-email-box input[type="email"] { 
    width : 40% ;
    margin-right : 2% ;
    background-color : transparent ;
    border : 0 ;
    border-bottom : 3px solid var(--primary-color) ;
    caret-color : var(--primary-color) ;
    padding : 1px 0 10px 10px ;
    outline : none ;

    color : var(--primary-color) ;
    font-size : 1.1rem ;
}

::placeholder {
    font-size : 1.1rem ;
    letter-spacing : 1px ;
    color : var(--primary-color) ;
}

.sending-email-box input[type="submit"] {
    background-color : var(--primary-color) ;
    border : 3px solid var(--primary-color) ;
    padding-top : 1em ;
    padding-bottom : 1em ;

    color : var(--fifth-color) ;
    font-family : var(--secondary-font) ;
    font-size : 1.1rem ;
    font-weight : 400 ;
}

.sending-email-box input[type="submit"]:hover {
    border : 3px solid var(--primary-color) ;
    color : var(--primary-color) ;
}
/* -------------- newsletter-box starts -------------- */

/* -------------- footer starts -------------- */
.footer {
    width : 100% ;
    padding-bottom : 2px ;
    background-color : var(--secondary-color) ; 
}

.footer-inner-section {
    max-width : var(--fixed-width) ;
    padding-top : 4em ;
    padding-bottom : 4em ;
    margin : 0 auto ;

    display : flex ;
    justify-content : space-between ;
    align-items : center ; 
}

.footer-inner-section p {
    color : #7C7C7C ;
    font-family : var(--secondary-font) ; 
    font-size : 1.4rem ;
}

.footer-inner-section .social-links {
    width : 28% ;

    display : flex ;
    justify-content : space-between ;
    align-items : center ; 
}

.footer-inner-section .social-links li {
    list-style : none ;
    border-radius : 50px ;
    cursor : pointer ;
    transition : transform 450ms ease ;
}

.footer-inner-section .social-links li:hover {
    background-color : var(--fifth-color) ;
    transform : translateY(-12px) ;
}

.footer-inner-section .social-links li a {
    color :rgb(136, 136, 136) ;
}

.footer-inner-section .social-links li:hover a{
    color : var(--primary-color) ;
}

.footer-inner-section .social-links .social-link-1{
padding : 15px 20px ;
}

.footer-inner-section .social-links .social-link-2 ,
.footer-inner-section .social-links .social-link-5 ,
.footer-inner-section .social-links .social-link-4 {
padding : 16px 18px ;
}

.footer-inner-section .social-links .social-link-3 {
padding : 16px 16px ;
}
/* -------------- footer ends -------------- */